<p>Logged in as <%= current_user.name %></p>
<% if current_user.status == "inactive" %>
  <p>This account has not yet been activated. Please check your email.</p>
<% else %>
  <p>You are active</p>
<% end %>
