<p>"Logged in as <%= @user.name.capitalize %>"</p>

<% if @user.email_confirmed %>
  <p>"Thank you! Your account is now activated."</p>
<% elsif @user.email_confirmed && @user.email_token.nil %>
  <p>Status: Active</p>
<% else %>
  <p>"This account has not yet been activated. Please check your email."</p>
<% end %>
