<p>
  You must register before you can accept an invitation to play a game with another player.
</p>
<p>
  Follow this <a href=<%= @url %>/register?from=invitation&start=<%= @p1.id %>> this link</a> to create your account.
</p>
<p>
  Alternatively, copy and paste this link into your browser. <%= @url %>/register?from=invitation&start=<%= @p1.id %>
</p>