<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Welcome to BattleShift!</h2>
    <p>Thanks for signing up <%= @user.name %>!</p>
    <%= link_to "Click here to activate your account", @url %>
  </body>
</html>
