<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %> to command-battleshift! Just one more step and you're in.</h1>
    <%= link_to "Visit here to activate your account.", @url + {activation_key: "#{@user.activation_key}"}.to_param %>
  </body>
</html>
