<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %> to command-battleshift! Just one more step and you're in.</h1>
    <p>Visit here to activate your account.<br>
      <%= @url %>
    </p>
  </body>
</html>
