<h1> Welcome! </h1>

<p>Your API key is <%= @register_presenter.api_key %></p>


<%= link_to "Visit here to activate your account.", "#{@register_presenter.url}/activate?key=#{@register_presenter.api_key}" %>